.navBar {
    width: 100%;
    height: 100%;
    grid-area: NB;
    background-color: black;
    .menu {
       div {
        color: rgb(221, 218, 218);
          padding: 15px;
          &:hover {
            color: black;
            background-color: aquamarine;
          }
       }
    }
 }